{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">
        <!-- product image slider -->
        <div class="product-image-slider">
          {{ range .Params.images }}
          <div data-image="{{ . | absURL }}">
            <img class="img-fluid w-100" src="{{ . | absURL }}" alt="product-image">
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 col-md-7 offset-lg-1">
        <h1 class="mb-4">{{ .Title }}</h1>
        <p class="price py-4">{{if
          .Params.discount_price}}{{site.Params.currency}}{{.Params.discount_price}}{{else}}{{site.Params.currency}}{{.Params.price}}{{end}}
          {{if .Params.discount_price}}<s class="price">{{site.Params.currency}}{{ .Params.price }}</s>{{end}}
        </p>

        {{ if site.Params.ebay.enable }}
        {{ if .Params.ebayId }}
        <!-- eBay item listing link -->
        <a class="btn btn-main mb-5" href="https://www.ebay.com/itm/{{ .Params.ebayId }}"><img class="shopbtn ebaybtn"
            src="/images/ebay-small.gif"></a>
        {{ end }}
        {{ end }}

        {{ if site.Params.reverb.enable }}
        {{ if .Params.reverbId }}
        <!-- Reverb item listing link -->
        <a class="btn btn-main mb-5" href="https://reverb.com/item/{{ .Params.reverbId}}"><img class="shopbtn reverbbtn"
            src="/images/reverb-small.gif"></a>
        {{ end }}
        {{ end }}

        {{ if site.Params.offerup.enable }}
        {{ if .Params.offerupId }}
        <!-- Reverb item listing link -->
        <a class="btn btn-main mb-5" href="https://offerup.com/item/detail/{{ .Params.offerupId}}"><img class="shopbtn offerupbtn"
            src="/images/offerup.png"></a>
        {{ end }}
        {{ end }}

        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

{{ end }}
